# 摇号官网用户名和密码
personMobile = ''
password = ''

# 配置邮件发送端
EMAIL_USER = ''
EMAIL_PASSWORD = ''
EMAIL_HOST = ''

# 配置邮件接收端
EMAIL_LIST = ['', ]

# 虚拟环境下命令行运行以下命令快捷更新部署
# fab -H <你的服务器地址> --prompt-for-login-password -p deploy
